body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #999999;
}

.navbar {
  display: flex;
  background-color: #00B233;
  padding: 10px;
}

.navbar button {
  flex: 1;
  margin: 0 5px;
  color: white;
  background: #00B233;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.navbar button:hover {
  background: #106EBE;
}

.search-bar {
  background: #E6E6E6;
  padding: 10px;
}

.search-bar input {
  width: 100%;
  padding: 8px;
}

.main-container {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.left-column {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.left-column button {
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.right-column {
  flex: 7;
  background: #F5F5F5;
  padding: 20px;
}

.view h2 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background: white;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}